__pycache__/
.lsp/
.idea
.mypy_cache/
.vscode/
data/
lightning_logs/
**/__pycache__/
pl-mnist/
wandb/
model/
mmidas-results/
results/
.vscode
smartseq_augmenter/
slurm-log/
traces/
*.txt
plots/
*.png
*.cpython
toy-runs/
mnist-logs/
mmidas-logs/